/* Css Reset ==================================== */
html, body, div, img, p, table, thead, tbody, tfoot, tr,td,tt, h1,h2,h3,h4,h5,h6, a, span, fieldset  {
	margin:10;
	padding:00;
	border:00;
	outline:none;
}

h3{
	font-size: 28px;
	margin-left:2cm;
}

body {
	font-family: 'Lato', Times, 'Times New Roman', serif;
	font-size: 16px;
	font-weight: 200;
	color: #eee;
	margin-left:1cm;
	margin-right:1cm;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1NTVhNWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWMxZTIwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-color: #2b2b2b;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(85,90,95,1) 0%, rgba(28,30,32,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(85,90,95,1)), color-stop(100%,rgba(28,30,32,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(85,90,95,1) 0%,rgba(28,30,32,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(85,90,95,1) 0%,rgba(28,30,32,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(85,90,95,1) 0%,rgba(28,30,32,1) 100%);
	background: radial-gradient(center, ellipse cover,  rgba(85,90,95,1) 0%,rgba(28,30,32,1) 100%);
	background-repeat:no-repeat;
	background-attachment:fixed;

	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}



input[type=file]{
	width:0px;
	color:transparent;
	visibility:hidden;
}

input[type=text], select {
	padding: 5px 10px;
	margin: 3px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	padding: 5px 20px;
	cursor: pointer;
}


:focus {outline:none;}
::-moz-focus-inner {border:0;}


img {
	width: 100%;
	height: auto;
	max-width: 600px;
}




#instruction { width: 50% ;}

#load{ width: 50%; float: right;}
#bodArea{ width: 50%; float: left}

#Interior{ width: 50%; float: left}
#Exterior{ width: 50%; float: left}

.mol-container {

	height:100%;
  position: relative;
}
#container{
		width: 50%;
 		float: right;
		height:2em;
}


#form{ width: 100%; }


a:not(.image) {
	color: hsl(120, 85%, 50%);
	text-decoration: none;

	-webkit-transition: color .15s ease;
	-moz-transition: color .15s ease;
	-ms-transition: color .15s ease;
	-o-transition: color .15s ease;
	transition: color .15s ease;
}
a:not(.image):hover {
	text-decoration: underline;
	text-shadow: none;
	border: none;
	border-radius: 2px;
}

#drop_zone{
	margin-top:20px;
	border:2px dashed #bbb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:15px;
	width: 15em;
	text-align:center;font: 20pt bold 'Vollkorn';
	color:#bbb;
	cursor: pointer;
	background-color: #303030;
}

.output{
	width: 35vw;
	height: 51px;
	margin-left:5px;
	margin-right:5px;
	max-width:40vw;
	min-height:4vw;
}


legend {margin-left:20px;}
fieldset {border:2px solid #bbb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:15px;
	padding-top:5px;
	background-color: #404040;
}


.sub1, .sub2 { display: none; }

:checked ~ .sub1, :checked ~ .sub2 {
	display: block;
	margin-left: 40px;
}

#footer {
	bottom:0;
	float:bottom;
	clear: left;
	width:50%;
	height:40px;   /* Height of the footer */

	font-family: 'Lato', Times, 'Times New Roman', serif;
	font-size: 10px;
	font-weight: 200;
	color: #A3A3A3;
	margin-left:10px;


}

@media screen and (max-width: 1024px) {
	#instruction { width: 100% ;}
	#load{ width: 100%;  }
	#drop_zone{  margin-top:10px;width: 90%;}

	#Exterior{ width: 100%; float: left}

	.output{	max-width:80vw;width: 80vw;}
	#container{	width: 100%;	float: left;	}


}
